<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="Mobile App for Copy and Paste between devices" />
<meta name="keywords" content="app,software,copy,paste,mobile,ipad,iphone"/>
<title>Copy Pasta | Mobile App for Copy and Paste between devices!</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<!--Fav and touch icons-->
<link rel="shortcut icon" href="img/icons/favicon.ico">
<link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">

<!--google web font-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,600,300italic' rel='stylesheet' type='text/css'>

<!--style sheets-->
<link rel="stylesheet" media="screen" href="/css/bootstrap.css"/>
<link rel="stylesheet" media="screen" href="/css/bootstrap-responsive.css"/>
<link rel="stylesheet" media="screen" href="/css/style.css"/>
<link rel="stylesheet" media="screen" href="/css/prettyPhoto.css"/>
<link rel="stylesheet" media="screen" href="/css/flexslider.css"/>

<!--jquery libraries / others are at the bottom-->
<script src="/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="/js/modernizr.js" type="text/javascript"></script>
<script type="text/javascript">
    (function() {
      var po = document.createElement('script');
      po.type = 'text/javascript'; po.async = true;
      po.src = 'https://plus.google.com/js/client:plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
</head>
<body>

<!-- header starts
================================================== -->
<section id="header" class="container clearfix">
  <div class="row"> 
    
    <!--blank column-->
    <div class="span7"> &nbsp; </div>
    
    <!--logo starts-->
    <div class="span5"><a href="index.html"><img src="/img/logo.png" width="275" height="160" alt="logo"></a></div>
    <!--logo ends--> 
    
  </div>
</section>
<!-- header ends
================================================== --> 

<!-- row-color starts
================================================== -->
<div class="row-color clearfix">
  <div class="container">
    <div class="row"> 
      
      <!--slider starts-->
      <div id="slider-wrapper" class="span7">
        <div id="slider-bg">
          <div class="flexslider image-slider">
            <ul class="slides">
              <li> <img src="img/preview/slide-11.jpg" alt="slide"> </li>
              <li> <img src="img/preview/slide-22.jpg" alt="slide"> </li>
              <li> <img src="img/preview/slide-33.jpg" alt="slide"> </li>
            </ul>
          </div>
        </div>
      </div>
      <!--slider ends--> 
      
      <!--text starts-->
      <div class="span5">
      <div id="gConnect" style="display:show">
        <h1>Sign in to Copy Pasta!</h1>
        <button class="g-signin" 
        	data-scope="https://www.googleapis.com/auth/plus.login"
    		data-requestvisibleactions="http://schemas.google.com/AddActivity"
    		data-clientId="{{ .ClientID }}"
    		data-accesstype="offline"
    		data-callback="onSignInCallback"
    		data-cookiepolicy="single_host_origin">
  		</button>
  		<br /><br /><br /><br /><br />
  	  </div>
  		<div id="authOps" style="display:none">
			<h1>Signed in as:</h1>
  			<div id="profile"></div>
  				<form action="/copyForm" method="post">
   					<div><textarea name="pasta" rows="4"></textarea></div>
   					<div><input type="submit" value="Copy Pasta!"></div>
  				</form>
				<button id="disconnect" class="btn-large btn-danger">Sign Out</button>
				<p>Signing out will erase all your Pasta!</p>

		</div>
				<a href="#" class="mybtn mybtn-app"> <span class="icon-app"></span><em>Available on the</em>App Store</a>
		</div>
      <!--text ends--> 
    </div>
  </div>
</div>
<!-- row-color ends
================================================== --> 

<!-- header-btm starts
================================================== -->
<div id="header-btm" class="container clearfix">
  <div class="row"> 
    
    <!--blank column-->
    <div class="span7"> &nbsp; </div>
    
    <!--social starts-->
    <div class="span5">
      <h6>Connect with reydeo.</h6>
      <ul class="social">
        <li><a href="#"><img src="img/icons/icon-social-facebook.png" alt="icon">Like on Facebook</a></li>
        <li><a href="#"><img src="img/icons/icon-social-twitter.png" alt="icon">Follow on Twitter</a></li>
      </ul>
    </div>
    <!--social ends--> 
    
  </div>
</div>
<!-- header-btm ends
================================================== --> 

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
  <div class="container"> 
    
    <!--features starts-->
    <div class="row">
      <div class="span12">
        <ul class="list-3col features">
          <li><img src="img/icons/icon-1.png" alt="icon">
            <h2>Sign In <span>using your Google account</span></h2>
            <p>We use Google because we're too lazy to make a database to store all your silly usernames and easy-to-crack passwords.</p>
          </li>
          <li><img src="img/icons/icon-2.png" alt="icon">
            <h2>Copy <span>your awesome text.</span></h2>
            <p>Favorite poem, funny joke, helpful URL...it's up to you. We are building a top secret database of all your Copy Pastas. JK...or are we?</p>
          </li>
          <li><img src="img/icons/icon-3.png" alt="icon">
            <h2>Pasta <span>into our "Pasta Bowl"</span></h2>
            <p>Your text will be waiting for you in the app! You never have to email yourself text again! We know...you love us. We...care for you.</p>
          </li>
        </ul>
        
        <!--divider here-->
        <div class="divider"></div>
      </div>
    </div>
    <!--features ends--> 
    
    <!--row starts-->
    <div class="row"> 
      
      <!--first column-->
      <div class="span6">
        <h2>How it Works</h2>
        <p>Copy Pasta is super simple to use. Copy text from anywhere on your computer, paste it into our "Pasta Bowl" above, and it magically appears on your mobile app or any browser! Your "Pasta" is automatically copied to your device clipboard as soon as you open the app.</p>
        <ul class="list-checkmark">
			<li>Easy to sign in</li>
			<li>Quick to use</li>
			<li>Potentially life saving?</li>
        </ul>
      </div>
      
      <!--second column-->
      <div class="span6"><img src="img/preview/img-1.png" alt="image"> </div>
      
      <!--spacer here-->
      <div class="spacer-30px"></div>
    </div>
    <!--row ends--> 
    
  </div>
</section>
<!-- content ends
================================================== --> 

<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="footer-logo"><img src="img/logo-footer.png" alt="footer-logo"></div>
        <p>reydeo © 2013. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- footer ends
================================================== --> 

<!--other jqueries required--> 
<script src="js/bootstrap.js" type="text/javascript" ></script> 
<script src="js/jquery.flexslider-min.js" type="text/javascript" ></script> 
<script src="js/jquery.prettyPhoto.js" type="text/javascript"></script> 
<script src="js/custom.js" type="text/javascript"></script>
<script type="text/javascript">
    var helper = (function() {
      var BASE_API_PATH = 'plus/v1/';
      var authResult = undefined;

      return {
    /**
     * Hides the sign-in button and connects the server-side app after
     * the user successfully signs in.
     *
     * @param {Object} authResult An Object which contains the access token and
     *   other authentication information.
     */
     onSignInCallback: function(authResult) {
      $('#authResult').html('Auth Result:<br/>');
      for (var field in authResult) {
        $('#authResult').append(' ' + field + ': ' + authResult[field] + '<br/>');
      }
      if (authResult['access_token']) {
        // The user is signed in
        this.authResult = authResult;
        // After we load the Google+ API, render the profile data from Google+.
        gapi.client.load('plus','v1',this.renderProfile);
      } else if (authResult['error']) {
        // There was an error, which means the user is not signed in.
        // As an example, you can troubleshoot by writing to the console:
        console.log('There was an error: ' + authResult['error']);
        $('#authResult').append('Logged out');
        $('#authOps').hide('slow');
        $('#gConnect').show();
      }
      console.log('authResult', authResult);
    },
    /**
     * Retrieves and renders the authenticated user's Google+ profile.
     */
     renderProfile: function() {
      var request = gapi.client.plus.people.get( {'userId' : 'me'} );
      request.execute( function(profile) {
        $('#profile').empty();
        if (profile.error) {
          $('#profile').append(profile.error);
          return;
        }
        helper.connectServer(profile.id);
        $('#profile').append(
          $('<p><img src=\"' + profile.image.url + '\"></p>'));
        $('#profile').append(
          $('<p>Hello ' + profile.displayName + '!<br />Tagline: ' +
            profile.tagline + '<br />About: ' + profile.aboutMe + '</p>'));
        if (profile.cover && profile.coverPhoto) {
          $('#profile').append(
            $('<p><img src=\"' + profile.cover.coverPhoto.url + '\"></p>'));
        }
      });
      $('#authOps').show('slow');
      $('#gConnect').hide();
    },
    /**
     * Calls the server endpoint to disconnect the app for the user.
     */
     disconnectServer: function() {
      // Revoke the server tokens
      $.ajax({
        type: 'POST',
        url: window.location.href + 'disconnect',
        async: false,
        success: function(result) {
          console.log('revoke response: ' + result);
          $('#authOps').hide();
          $('#profile').empty();
          $('#visiblePeople').empty();
          $('#authResult').empty();
          $('#gConnect').show();
        },
        error: function(e) {
          console.log(e);
        }
      });
    },
    /**
     * Calls the server endpoint to connect the app for the user. The client
     * sends the one-time authorization code to the server and the server
     * exchanges the code for its own tokens to use for offline API access.
     * For more information, see:
     *   https://developers.google.com/+/web/signin/server-side-flow
     */
     connectServer: function(gplusId) {
      console.log(this.authResult.code);
      $.ajax({
        type: 'POST',
        url: window.location.href + 'connect?state={{ .State }}',
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          console.log(result);
          helper.people();
        },
        processData: false,
        data: this.authResult.code
      });
    },
    /**
     * Calls the server endpoint to get the list of people visible to this app.
     */
     people: function() {
      $.ajax({
        type: 'GET',
        url: window.location.href + 'people',
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          helper.appendCircled(result);
        },
        processData: false
      });
    },
    /**
     * Displays visible People retrieved from server.
     *
     * @param {Object} people A list of Google+ Person resources.
     */
     appendCircled: function(people) {
      $('#visiblePeople').empty();

      $('#visiblePeople').append('Number of people visible to this app: ' +
        people.totalItems + '<br/>');
      for (var personIndex in people.items) {
        person = people.items[personIndex];
        $('#visiblePeople').append('<img src="' + person.image.url + '">');
      }
    },
  };
})();

/**
 * Perform jQuery initialization and check to ensure that you updated your
 * client ID.
 */
 $(document).ready(function() {
  $('#disconnect').click(helper.disconnectServer);
  if ($('[data-clientid="YOUR_CLIENT_ID"]').length > 0) {
    alert('This sample requires your OAuth credentials (client ID) ' +
      'from the Google APIs console:\n' +
      '    https://code.google.com/apis/console/#:access\n\n' +
      'Find and replace YOUR_CLIENT_ID with your client ID and ' +
      'YOUR_CLIENT_SECRET with your client secret in the project sources.'
      );
  }
});

/**
 * Calls the helper method that handles the authentication flow.
 *
 * @param {Object} authResult An Object which contains the access token and
 *   other authentication information.
 */
 function onSignInCallback(authResult) {
  helper.onSignInCallback(authResult);
}
</script>
</body>
</html>
